Options +FollowSymLinks
RewriteEngine on

##### htaccess version 1.0 #####

RewriteRule ^Home_Level_Detail$ Home_Level_Detail.php [NC,L]
RewriteRule ^Home_Level_Detail_grid$ Home_Level_Detail_grid.php [NC,L]
RewriteRule ^Home_Level_Detail_grid_home$ Home_Level_Detail_grid_home.php [NC,L]
RewriteRule ^Login_Level_Detail$ Login_Level_Detail.php [NC,L]
RewriteRule ^Login_login$ Login_login.php [NC,L]
RewriteRule ^categories_list_Level_Detail$ categories_list_Level_Detail.php [NC,L]
RewriteRule ^categories_list_Level_Detail_list$ categories_list_Level_Detail_list.php [NC,L]
RewriteRule ^categories_sub_list_Level_Detail$ categories_sub_list_Level_Detail.php [NC,L]
RewriteRule ^categories_sub_list_Level_Detail_list/?$  categories_sub_list_Level_Detail_list.php [NC]
RewriteRule ^list_image_product_Level_Detail$ list_image_product_Level_Detail.php [NC,L]
RewriteRule ^list_image_product_Level_Detail_grid/?$  list_image_product_Level_Detail_grid.php [NC]
RewriteRule ^mydata_Level_Detail/?$  mydata_Level_Detail.php [NC]
RewriteRule ^mydata_save$ mydata_save.php [NC,L]
RewriteRule ^product_detail_Level_Detail$ product_detail_Level_Detail.php [NC,L]
RewriteRule ^product_detail_Level_Detail_grid/?$  product_detail_Level_Detail_grid.php [NC]
RewriteRule ^product_detail_add_cart$ product_detail_add_cart.php [NC,L]
RewriteRule ^products_list_Level_Detail$ products_list_Level_Detail.php [NC,L]
RewriteRule ^products_list_Level_Detail_grid/?$  products_list_Level_Detail_grid.php [NC]
RewriteRule ^register_Level_Detail$ register_Level_Detail.php [NC,L]
RewriteRule ^register_save$ register_save.php [NC,L]
RewriteRule ^shop_Level_Detail$ shop_Level_Detail.php [NC,L]
RewriteRule ^shop_logout$ shop_logout.php [NC,L]
RewriteRule ^shopping_cart_Level_Detail/?$  shopping_cart_Level_Detail.php [NC]
RewriteRule ^shopping_cart_Level_Detail_list/?$  shopping_cart_Level_Detail_list.php [NC]
RewriteRule ^shopping_cart_delete$ shopping_cart_delete.php [NC,L]
RewriteRule ^thumb_list_Level_Detail$ thumb_list_Level_Detail.php [NC,L]
RewriteRule ^thumb_list_Level_Detail_grid/?$  thumb_list_Level_Detail_grid.php [NC]

